.select-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Add margin for spacing */
  }
  
  .select-label {
    position: absolute;
    top: 10px; /* Adjust label position as needed */
    left: 10px; /* Adjust label position as needed */
    font-size: 16px; /* Adjust label font size as needed */
    color: #666; /* Adjust label color as needed */
    transition: all 0.3s ease; /* Add transition effect for smooth animation */
    pointer-events: none; /* Disable pointer events on the label */
    z-index: 1;
  }
  
  .select-label.active {
    top: -10px; /* Adjust label position when option is selected */
    font-size: 10px; /* Adjust label font size when option is selected */
    color: #333; /* Adjust label color when option is selected */
  }
  
  .select {
    appearance: none;
    outline: none;
    border: none;
    background-color: #f8f8f8;
    padding: 10px;
    font-size: 16px;
    width: 200px; /* Set width as needed */
    cursor: pointer;
    background: transparent;
  appearance: none;
  z-index: 2; /* Set a lower z-index to make sure the select is below the pseudo-element */

}
.select::-ms-expand {
    display: none;
  }

  
  .select-arrow.rotate {
    transform: rotate(180deg);
  }
  .select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666;
    transition: transform 0.3s ease;
  }
/*   
  .select:focus + .select-arrow {
    transform: translateY(-50%) rotate(180deg);
  } */
  
  .select-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; /* Add a pointer cursor to the pseudo-element */
    z-index: 3; /* Set a higher z-index to make sure the pseudo-element is on top */
  }
  