.navbar {
    width: 100%;
    /* background: linear-gradient(135deg, hsla(209, 23%, 71%, 0.988), #161b20fc,#677c91fc); */
    box-shadow: 0 4px 8px #6b7277;
    /* padding: 1rem; */
    background: #212a32;

  }
  
  .nav-container {
    display: flex;
    width: 100%;
    height: 3.5rem;
  }

  .logo{
    width: 40%;
    color: aliceblue;
    background: #384148;
  }

.even_space{
  width: 80%;
  gap: 1rem;
  background-color: #212a32;
}

.nav-icon{
  width: 40vw;
  display: none;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  margin-bottom: 1rem;
}


.hamburger-icon {
  align-self: flex-end;
  position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
    transition: transform 0.3s; /* Add a smooth transition to the transform property */

}
.hamburger-icon::before {
  content: "";
  position: absolute;
  top: 1em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #fff;
  transition: transform 0.3s; /* Add a smooth transition to the transform property */

}
.hamburger-icon.active {
  transform: rotate(45deg);
  border-top: 0;

}

.hamburger-icon.active::before {
  transform: rotate(90deg) translate(-.4em, 0em);
}
.idioma_container{
  height: 100%;
  background: #6b7277;
  gap: 1rem;
  padding: 0 10px 0 0;
  width: 30%;
}

@media (max-width: 768px) {
.logo{
  width: 50vw;
}
  .even_space{
    display: none;
  }
  .nav-icon{
    display: flex;
  }

}
