<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      Some awesome LOGO
    </div>
    <div class="even_space">
      <app-generic-drop-down (optionSelected)="onSelectedOpt($event)" [selectedOption]="languaje"
        [label_text]="'language_select'|translate" [options]="options"></app-generic-drop-down>
        <span style="color: aliceblue;">{{languaje==='en'? 'English':'Español'}}</span>
        <button class="button button-header" (click)="btnComponents()">{{'components'|translate}}</button>
        <button class="button button-header" (click)="btnHome()">{{'home'|translate}}</button>
        <button class="button button-header" (click)="btnCV()">{{'CV'|translate}}</button>
      </div>
      <div class="nav-icon" (click)="clicked = !clicked">
      <span style="color: aliceblue; margin-right:15px;position: absolute;top:.2rem; right: 2rem;">{{languaje==='en'? 'English':'Español'}}</span>
      <div [class.active]="clicked" class="hamburger-icon"></div>
    </div>
  </div>
</nav>

<app-generic-modal [showModal]="clicked">
  <app-generic-drop-down (optionSelected)="onSelectedOpt($event)" [selectedOption]="'en'"
    [label_text]="'language_select'|translate" [options]="options"></app-generic-drop-down>
  <button class="button button-header" (click)="btnComponents()">{{'components'|translate}}</button>
  <button class="button button-header" (click)="btnHome()">{{'home'|translate}}</button>
  <button class="button button-header" (click)="btnCV()">{{'CV'|translate}}</button>
</app-generic-modal>