<app-header></app-header>
    <!-- <div class="row">
        <app-generic-input [labelInput]="'label 1'" [inputType]="'text'" (inputValueChange)="onInputValueChange($event)" (keydownEvent)="onKeyDown($event)"></app-generic-input>
        <app-generic-input [labelInput]="'label 2'"[inputType]="'number'" (inputValueChange)="onInputValueChange($event)" (keydownEvent)="onKeyDown($event)"></app-generic-input>
        <app-generic-input [labelInput]="'label 2'"[inputType]="'currency'" (inputValueChange)="onInputValueChange($event)" (keydownEvent)="onKeyDown($event)"></app-generic-input>
    </div>
    <div class="column-container">
        <app-generic-input class="column column-1" [labelInput]="'label 1'" [inputType]="'text'" (inputValueChange)="onInputValueChange($event)" (keydownEvent)="onKeyDown($event)"></app-generic-input>
        <app-generic-input class="column column-2" [labelInput]="'label 1'" [inputType]="'text'" (inputValueChange)="onInputValueChange($event)" (keydownEvent)="onKeyDown($event)"></app-generic-input>
        <app-generic-input class="column column-3" [labelInput]="'label 2'"[inputType]="'number'" (inputValueChange)="onInputValueChange($event)" (keydownEvent)="onKeyDown($event)"></app-generic-input>
        <app-generic-input class="column column-4" [labelInput]="'label 2'"[inputType]="'currency'" (inputValueChange)="onInputValueChange($event)" (keydownEvent)="onKeyDown($event)"></app-generic-input>
    </div> -->
    <!-- <app-generic-drop-down (optionSelected)="onOptionSelected($event)"></app-generic-drop-down> -->
    <!-- <app-generic-select (SelectedOpt)="onSelectedOpt($event)"></app-generic-select> -->
    <!-- <div [ngClass]="{'windows98': isWindows98Theme, 'nintendo': isNintendoTheme}">
       <div class="container wrapper-main">
        <app-generic-tooltip [position]="'bottom'">
            <div appTooltipTrigger>
                <app-generic-text-area placeholder="Enter some text here..."></app-generic-text-area>
            </div>
            <div appTooltipContent>
              a su maquina
            </div>
          </app-generic-tooltip>

       </div>
    </div> -->
    <router-outlet></router-outlet>
<app-footer></app-footer>