.cv {
    max-width: 800px;
    margin: 2.5em auto 0 auto;
    font-family: Arial, sans-serif;
    min-height:90vh;
  }
  
  .header {
    background-color: #333;
    color: white;
    padding: 1em;
    /* border-radius: 1em; */
    gap: .5em;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "name title phone"
    "name email address";
  }
  .name {
    grid-area: name;
  }
  
  .title {
    grid-area: title;
  }
  
  .phone {
    grid-area: phone;
  }
  
  .email {
    grid-area: email;
  }
  .address {
    grid-area: address;
  }
  
  .content {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: .5em;
  grid-template-rows: auto auto;
  grid-template-areas:
    "skills Summary"
    "skills education"
    "skills experience";
    color: #333;
  }
  .skills {
    grid-area: skills;
  }
  .Summary {
    grid-area: Summary;
  }
  .education {
    grid-area: education;
  }
  .experience {
    grid-area: experience;
  }
  .Summary, .education, .experience,.skills {
    background-color: #f5f5f5;
    padding: 1em;
    border-radius: 0.5em;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); */
    margin-bottom: 1em;
    width: 100%;
    }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    z-index: 9999;
  }
  
  .floating-button:hover {
    background-color: #c9d2db;
  }
  
  .floating-button i {
    font-size: 20px;
  }
  
  .floating-button:active {
    transform: scale(0.95);
  }

  .download-icon {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.download-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* .download-icon:after {
  content: "";
  position: absolute;
  top: calc(50% + 2px);
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 20px;
  border-radius: 8px 8px 0 0;
  background-color: rgb(206, 59, 59);
} */
@media only screen and (max-width: 768px) {
  .cv {
    width: 100%;
    /* margin: 2.5em auto 0 auto; */
    font-family: Arial, sans-serif;
    min-height:90vh;
  }
  .content {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5em;
  grid-template-rows: auto auto;
  grid-template-areas:
    "skills"
    "Summary"
    "education"
    "experience";
  }
  .header {
    background-color: #333;
    color: white;
    padding: 1em;
    /* border-radius: 1em; */
    gap: .5em;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); */
    display: grid;
    grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "name" 
    "title"
    "phone"
    "email"
    "address";
  }
}